body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #DE0A1E;
    margin-bottom: 30px;
    font-weight: 900;
}

h4 {
    margin-top: 60px;
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 20px -10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 20px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #EB6A2D;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background-color: #DE0A1E;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    color: #0056b3;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}